* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    padding: 1em 0;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-content: center;
    font-family: 'Syne Mono';
    justify-items: center;
    flex-direction: column;
    background-color: rgb(169, 176, 184);
}

header {
    border-bottom: 2px solid rgb(112, 36, 112);
    text-align: center;
}

header>h1 {
    color: rgb(73, 42, 73);
    text-align: center;
    margin: 20px;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: rgb(128, 111, 122);
    margin: 1.25rem 0.75rem;
    font-size: 1.6rem;
}

nav a:hover {
    color: rgb(112, 36, 112);
}

main {
    display: flex;
    align-items: center;
}

main>img {
    width: 50vw;
    height: auto;
    border: 3px solid rgb(105, 61, 105);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 20px;
}

aside>h2 {
    color: rgb(105, 61, 105);
}

aside {
    padding: 0 1em;
}

aside>ul {
    list-style: circle;
}

footer {
    border-top: 2px solid rgb(112, 36, 112);
}

footer ul {
    display: flex;
    font-size: 1em;
    text-align: center;
    align-items: center;
    flex-flow: row;
    justify-content: space-around;
}